{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Categories</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Category</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      {% for board in cats %}
       <tr>
          <td>
            <a href="{% url 'category_topics' board.pk %}">{{ board.name }}</a>
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          
          <td class="align-middle">
            <small>ibibazo: <b>{{ board.topics.count }}</b></small>
          </td>
          
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}