Mwiriwe,

Mwasabye guhindura password yanyu mwibagiwe kuri email ya {{ email }}.
Kanda kuri Link iri munsi:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Username yawe ni: {{ user.username }}

Niba gukanda kuri iyo link iri hejuru, yikopiye maze uyi pastinge muri browser.

Niba wakiriye iyi email utigeze ugerageza guhindura password, bisa nkaho ari
undi wabigerageje utari wowe, Ntago ukeneye kugira igikorwa ukora kuri iyi email
yihorere 

Murakoze, Ktimez 