{% extends 'base.html' %}

{% block title %}
  {{ cat.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Categories</a></li>
  <li class="breadcrumb-item active">{{ cat.name }}</li>
{% endblock %}

{% block content %}

<div class="mb-4">
    <a href="{% url 'new_topic' cat.pk %}" class="btn btn-primary">Baza Ikibazo </a>
  </div>

<br>
<h4>Ibibazo biherutse kubazwa </h4>
<br>


<div class="container" >
  {% for topic in topics %}
  
  <div class="card mb-2">
      <div class="card-body ">
        <a href="{% url 'topic_posts' cat.pk topic.pk %}">{{ topic.subject }}</a>
        <div class="row">
          <div class="col-6">
            <small class="text-muted">cyabajijwe na: {{ topic.starter.username }}</small>
          </div>

          <div class="col-6 text-right">
            <small class="text-muted">ibisubizo: {{ topic.number_of_replies }}</small>
          </div>
        </div>
      </div>
    </div>
  
  {% endfor %}


</div>







<!--
    <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Ikibazo</th>
        <th>Uwabajije</th>
        <th>Ibisubizo</th>
        <th>Views</th>
      </tr>
    </thead>
    <tbody>
     {% for topic in topics %}
  <tr>
    <td><a href="{% url 'topic_posts' cat.pk topic.pk %}">{{ topic.subject }}</a></td>
    <td>{{ topic.starter.username }}</td>
    <td>{{ topic.number_of_replies }}</td>
    <td>{{ topic.views }}</td>
  </tr>
{% endfor %}
    </tbody>
  </table> -->
{% endblock %}